* {
  margin: 0;
  padding: 0;
}

:root {
  --yellow: #fcb72b;
  --dark-navy: #495567;
  --dim-grey: #939caa;
  --light-grey: #e5ecf4;
  --snow: #f2f5f9;
  --light-yellow: #fff4df;
}

/* Fonts */
@font-face {
  font-family: 'SpaceMono-Bold';
  src: url('../fonts/Space_Mono/SpaceMono-Bold.ttf');
  format: 'true-type';
}

@font-face {
  font-family: 'SpaceMono-Regular';
  src: url('../fonts/Space_Mono/SpaceMono-Regular.ttf');
  format: 'true-type';
}

@font-face {
  font-family: 'LexendDeca-Regular';
  src: url('../fonts/Lexend_Deca/static/LexendDeca-Regular.ttf');
  format: 'true-type';
}

/* Base Styles */
h1 {
  font-family: 'SpaceMono-Bold';
  font-size: 3.5rem;
  line-height: 3.5rem;
  character-spacing: -0.15625rem;
  color: var(--snow);
}

h2 {
  font-family: 'SpaceMono-Bold';
  font-size: 3rem;
  line-height: 3rem;
  character-spacing: -0.13375rem;
}

h3 {
  font-family: 'SpaceMono-Bold';
  font-size: 2.5rem;
  line-height: 3rem;
  character-spacing: -0.111875rem;
}

h4 {
  font-family: 'SpaceMono-Bold';
  font-size: 1.5rem;
  line-height: 1.75rem;
  character-spacing: -0.066875rem;
}

p {
  font-family: 'LexendDeca-Regular';
  font-size: 0.9rem;
  line-height: 1.5625rem;
}

/* Buttons */
button {
  background-color: var(--yellow);
  border: 2px solid var(--yellow);
  padding: 0.75rem 2.5rem;
  color: var(--snow);
  transition: all 0.35s;
}

button:hover {
  background-color: #fff;
  border: 2px solid var(--yellow);
  color: var(--yellow);
}

/* Navigation */
.navigation-container {
  display: flex;
  width: 80%;
  margin: 2rem 8rem 1rem 12rem;
  align-items: center;
}

.navigation-container img {
  width: 10%;
  height: 2%;
}

nav ul {
  display: flex;
  width: 90%;
  margin: 0 30rem 0 5rem;
  list-style-type: none;
}

nav a {
  font-family: 'LexendDeca-Regular';
  margin: 0 1rem;
  text-decoration: none;
  color: var(--dim-grey);
}

/* Mobile Navigation */
@media only screen and (max-width: 600px) {
  .navigation-container {
    display: none;
  }
}

/* Header: Home Page */
.home-page-header {
  height: 35rem;
  background: url('../assets/images/home-hero-desktop.jpg') no-repeat 0 0;
  background-position: center;
  background-size: cover;
  background-color: var(--dark-navy);
  overflow: hidden;
}

.home-page-header h1 {
  width: 45%;
  margin: 6rem 0 0 9rem;
}

.home-page-header p {
  height: 0;
  width: 27%;
  margin: 0 0 0 2rem;
  padding: 0;
  color: var(--snow);
}

.steps-paragraph {
  display: flex;
  align-items: center;
  margin: 3rem 0 0 0;
  border: 0;
  height: 0;
}

header button {
  margin: 9rem 0 0 17.5rem;
}

/* Mobile Header: Home Page */
@media only screen and (max-width: 600px) {
  .home-page-header {
    height: 45rem;
    background: url('../assets/images/home-hero-mobile.jpg') no-repeat 0 0;
    background-size: cover;
    overflow: hidden;
  }

  .home-page-header h1 {
    font-family: 'SpaceMono-Regular';
    font-size: 2.5rem;
    text-align: center;
    width: 95%;
    margin: 6rem auto;
    margin-bottom: 6rem;
  }

  .home-page-header p {
    width: 71%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 3rem;
  }

  .steps-paragraph {
    display: flex;
    align-items: center;
    margin: 3rem 0 0 0;
    border: 0;
    height: 0;
  }

  .steps-arrow {
    display: none;
  }

  .steps-line {
    display: none;
  }

  header button {
    margin: 9rem;
    width: 40%;
  }
}

/* About Header */
.about-header {
  display: flex;
  align-items: center;
  padding-left: 12rem;
  margin-bottom: 8rem;
  height: 10rem;
  background: url('../assets/images/about-hero-desktop.jpg') no-repeat 0 0;
  background-position: center;
  background-size: cover;
  background-color: var(--dark-navy);
  overflow: hidden;
}

.about-header .steps-circles {
  margin: 0 0 0 62rem;
}

/* FAQ Accordian */
.faq {
  display: flex;
}

ul li {
  list-style: none;
}

.faq li.question-responses {
  display: none;
}

/* Careers Header */
.careers-header {
  display: flex;
  align-items: center;
  padding-left: 12rem;
  height: 10rem;
  background: url('../assets/images/careers-locations-hero-desktop.jpg')
    no-repeat 0 0;
  background-position: center;
  background-size: cover;
  background-color: var(--dark-navy);
  overflow: hidden;
}

.careers-header .steps-circles {
  margin: 0 0 0 59rem;
}

/* Locations Header */
.locations-header {
  display: flex;
  align-items: center;
  padding-left: 12rem;
  height: 10rem;
  background: url('../assets/images/careers-locations-hero-desktop.jpg')
    no-repeat 0 0;
  background-position: center;
  background-size: cover;
  background-color: var(--dark-navy);
  overflow: hidden;
}

.locations-header .steps-circles {
  margin: 0 0 0 55rem;
}

/* Steps Section */
.steps-section {
  margin: 10rem 0 10rem 7rem;
}

.section-cards {
  display: flex;
}

.steps-icon {
  margin: 2rem 0;
}

.section-cards h4 {
  margin: 2rem 0;
}

.section-cards p {
  width: 67%;
}

/* Steps Section Mobile */
@media only screen and (max-width: 600px) {
  .steps-section {
    margin: 10rem 0;
  }

  .section-cards {
    flex-direction: column;
  }

  .steps-icon {
    width: 15%;
    margin: 4rem auto;
    margin-bottom: 2rem;
  }

  .section-cards h4 {
    width: 75%;
    margin: 2rem 7rem;
  }

  .section-cards p {
    text-align: center;
    width: 67%;
    margin: 0 5rem;
  }
}

/* Benefits Section */
.benefits-section {
  overflow: hidden;
  height: 110rem;
}

.text-left {
  width: 100%;
  margin: 4rem 5rem 0 0;
}

.text-left h2 {
  width: 65%;
}

.text-left p {
  width: 55%;
  margin: 2rem 0;
}

.text-right {
  width: 100%;
  margin: 2rem 0 0 40rem;
}

.text-right h2 {
  width: 80%;
}

.text-right p {
  width: 72%;
  margin: 2rem 0;
}

.benefits-btn {
  margin-bottom: 2rem;
}

.benefit-1,
.benefit-3 {
  display: flex;
  padding: 0 0 0 7rem;
}

.benefit-2 {
  display: flex;
  justify-content: space-between;
  padding: 0 7rem 0 0;
  width: 100%;
}

.benefit-2,
.benefit-3 {
  margin-top: 12rem;
}

.benefits-image-right {
  display: flex;
  width: 40%;
}

.benefits-image-right img {
  height: 25rem;
  border-radius: 50%;
  margin: 0 3rem;
  margin-right: 0;
}

.benefits-image-left {
  display: flex;
  width: 40%;
  margin-left: -20rem;
}

.benefits-image-left img {
  height: 25rem;
  border-radius: 50%;
  margin: 0 3rem 0 0;
}

.benefits-arrow-icon-1 {
  position: relative;
  margin: -12rem 0 0 65rem;
}

.benefits-arrow-icon-2 {
  position: relative;
  margin: 2rem 0 0 -28rem;
}

.benefits-arrow-icon-3 {
  position: relative;
  margin: -18rem 0 0 65rem;
}

/* Benefits Section: Mobile */
@media only screen and (max-width: 600px) {
  .benefits-section {
    flex-direction: column;
    overflow: hidden;
    height: 110rem;
  }

  .text-left {
    width: 90%;
    margin: 4rem 0;
  }

  .text-left h2 {
    font-size: 2rem;
    text-align: center;
    width: 90%;
  }

  .text-left p {
    font-size: 1rem;
    text-align: center;
    width: 90%;
    margin: 2rem 0;
  }

  .text-right {
    width: 90%;
    margin: 2rem 0 0 40rem;
  }

  .text-right h2 {
    font-size: 0.5rem;
    text-align: center;
    width: 90%;
  }

  .text-right p {
    width: 72%;
    margin: 2rem 0;
  }

  .benefits-btn {
    margin-bottom: 2rem;
    width: 50%;
    margin: 0 4rem;
  }

  .benefit-1,
  .benefit-3 {
    flex-direction: column-reverse;
    padding: 1rem;
  }

  .benefit-2 {
    flex-direction: column;
    padding: 0 7rem 0 0;
    width: 100%;
  }

  .benefit-2,
  .benefit-3 {
    margin-top: 12rem;
  }

  .benefits-image-right {
    flex-direction: column;
    width: 90%;
  }

  .benefits-image-right img {
    height: 20rem;
    border-radius: 50%;
    margin: 0 3rem;
    margin-right: 0;
  }

  .benefits-image-left {
    flex-direction: column-reverse;
    width: 40%;
    margin-left: -20rem;
  }

  .benefits-image-left img {
    height: 25rem;
    border-radius: 50%;
    margin: 0 3rem 0 0;
  }

  .benefits-circle {
    display: none;
  }

  .benefits-arrow-icon-1 {
    position: relative;
    margin: -8rem 0 0 55rem;
  }

  .benefits-arrow-icon-2 {
    position: relative;
    margin: 2rem 0 0 -28rem;
  }

  .benefits-arrow-icon-3 {
    position: relative;
    margin: -18rem 0 0 65rem;
  }
}

/* Arrows */
.steps-arrow {
  margin: 14rem 0 0 3rem;
}

.steps-background {
  filter: invert(99%) sepia(14%) saturate(1%) hue-rotate(178deg)
    brightness(103%) contrast(100%);
  opacity: 25%;
  length: 2000px;
}

/* Circles */
.steps-circles {
  margin: 0 0 0 85rem;
  height: 3rem;
}

/* Circles: Mobile */
@media only screen and (max-width: 600px) {
  .steps-circles {
    display: none;
  }
}

/* Sign-Up Section */
.sign-up-section {
  display: flex;
  align-items: center;
  height: 15rem;
  background: var(--dark-navy);
}

.sign-up-section h1 {
  width: 39%;
  margin: 0 18rem 0 9rem;
}

.sign-up-section img {
  margin-right: 1rem;
}

/* Footer */
footer {
  display: flex;
  align-items: center;
  height: 5rem;
  background-color: #2a313c;
}

.footer-navigation-container {
  display: flex;
  width: 75%;
  margin: 2rem 0 1rem 9rem;
  align-items: center;
}

.footer-nav ul {
  display: flex;
  width: 90%;
  margin: 0 25rem 0 5rem;
  list-style-type: none;
}

.footer-nav a {
  font-family: 'LexendDeca-Regular';
  margin: 0 1rem;
  text-decoration: none;
  color: var(--dim-grey);
}

.filter-white {
  filter: invert(99%) sepia(14%) saturate(1%) hue-rotate(178deg)
    brightness(103%) contrast(100%);
}

.social {
  display: flex;
  height: 1.5rem;
}

.social img {
  margin-right: 1rem;
}
