* {
  margin: 0;
  padding: 0;
}

:root {
  --yellow: #fcb72b;
  --dark-navy: #495567;
  --dim-grey: #939caa;
  --light-grey: #e5ecf4;
  --snow: #f2f5f9;
  --light-yellow: #fff4df;
}

/* Fonts */
@font-face {
  font-family: 'SpaceMono-Bold';
  src: url('../fonts/Space_Mono/SpaceMono-Bold.ttf');
  format: 'true-type';
}

@font-face {
  font-family: 'LexendDeca-Regular';
  src: url('../fonts/Lexend_Deca/static/LexendDeca-Regular.ttf');
  format: 'true-type';
}

/* Base Styles */
h1 {
  font-family: 'SpaceMono-Bold';
  font-size: 3.5rem;
  line-height: 3.5rem;
  character-spacing: -0.15625rem;
  color: var(--snow);
}

h2 {
  font-family: 'SpaceMono-Bold';
  font-size: 3rem;
  line-height: 3rem;
  character-spacing: -0.13375rem;
}

h3 {
  font-family: 'SpaceMono-Bold';
  font-size: 2.5rem;
  line-height: 3rem;
  character-spacing: -0.111875rem;
}

h4 {
  font-family: 'SpaceMono-Bold';
  font-size: 1.5rem;
  line-height: 1.75rem;
  character-spacing: -0.066875rem;
}

p {
  font-family: 'LexendDeca-Regular';
  font-size: 0.9rem;
  line-height: 1.5625rem;
}

/* Buttons */
button {
  background-color: var(--yellow);
  border: 2px solid var(--yellow);
  padding: 0.75rem 2.5rem;
  color: var(--snow);
  transition: all 0.35s;
}

button:hover {
  background-color: var(--snow);
  border: 2px solid var(--yellow);
  color: var(--yellow);
}

/* Navigation */
.navigation-container {
  display: flex;
  width: 80%;
  margin: 2rem 8rem 1rem 12rem;
  align-items: center;
}

.navigation-container img {
  width: 10%;
  height: 2%;
}

nav ul {
  display: flex;
  width: 90%;
  margin: 0 30rem 0 5rem;
  list-style-type: none;
}

nav a {
  font-family: 'LexendDeca-Regular';
  margin: 0 1rem;
  text-decoration: none;
  color: var(--dim-grey);
}

/* Header: Home Page */
.home-page-header {
  height: 35rem;
  padding: 2rem;
  background: url('../assets/images/home-hero-desktop.jpg') no-repeat 0 0;
  background-position: center;
  background-color: var(--dark-navy);
  overflow: hidden;
}

.home-page-header h1 {
  width: 45%;
  margin: 6rem 0 0 9rem;
}

.home-page-header p {
  height: 0;
  width: 27%;
  margin: 0 0 0 2rem;
  padding: 0;
  color: var(--snow);
}

.steps-paragraph {
  display: flex;
  align-items: center;
  margin: 3rem 0 0 0;
  border: 0;
  height: 0;
}

header button {
  margin: 9rem 0 0 17.5rem;
}

/* About Header */
.about-header {
  display: flex;
  align-items: center;
  padding-left: 12rem;
  height: 10rem;
  background: url('../assets/images/about-hero-desktop.jpg') no-repeat 0 0;
  background-position: center;
  background-color: var(--dark-navy);
  overflow: hidden;
}

.about-header .steps-circles {
  margin: 0 0 0 62rem;
}

/* Arrows */
.steps-arrow {
  margin: 14rem 0 0 3rem;
}

.steps-line {
  margin-top: 5rem;
}

/* Circles */
.steps-circles {
  margin: 0 0 0 83rem;
  height: 3rem;
}
